<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104405922401-vtmcht054eopshppsr50t9eq5td7ht0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104405922401-vtmcht054eopshppsr50t9eq5td7ht0s</string>
	<key>API_KEY</key>
	<string>AIzaSyDQyfv_5ofsOH3BRx47zLhpzHJ61eE6QAc</string>
	<key>GCM_SENDER_ID</key>
	<string>104405922401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PST.Pastanque</string>
	<key>PROJECT_ID</key>
	<string>pastanque-8a97f</string>
	<key>STORAGE_BUCKET</key>
	<string>pastanque-8a97f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104405922401:ios:fd40dad64944089fb73020</string>
</dict>
</plist>